<% content_for :title, "ドリンクメニュー" %>

<div class="row g-3">
  <% @drink_items.each do |item| %>
    <% editing = @editing_drink_item_id == item.id %>

    <div class="col-12 col-xl-6">
      <% if editing %>
        <%= render "form",
                   drink_item: item,
                   url: admin_drink_item_path(item),
                   method: :patch,
                   cancel_url: admin_drink_items_path,
                   submit_label: "編集して保存" %>
      <% else %>
        <%= render "card", drink_item: item %>
      <% end %>
    </div>
  <% end %>

  <div class="col-12 col-xl-6">
    <%= render "form",
               drink_item: @drink_item,
               url: admin_drink_items_path,
               method: :post,
               cancel_url: nil,
               submit_label: "新規作成" %>
  </div>
</div>
