<% content_for :title, "お気に入り" %>

<div style="max-width: 960px;">
  <% if @favorite_booths.blank? %>
    <div class="alert alert-secondary" role="alert">
      お気に入りブースはありません。
    </div>
  <% else %>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <% @favorite_booths.each do |favorite| %>
        <% booth = favorite.booth %>

        <div class="col">
          <%= render "booths/card",
                booth: booth,
                booth_favorited: true,
                store_favorited: @favorite_store_ids.include?(booth.store_id) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
