<h1>ブース編集</h1>

<%= form_with model: [:admin, @booth] do |f| %>
  <%= render "booths/form",
            f: f,
            booth: @booth,
            submit_label: "更新する",
            back_path: dashboard_path_for(current_user),
            remove_thumbnail_checkbox_id: "admin_edit_remove_thumbnail_image" %>
<% end %>
