<% content_for :head do %>
  <%= render "shared/filepond_head" %>
<% end %>

<h1>ブース作成</h1>

<%= form_with model: [:admin, @booth] do |f| %>
  <%= render "booths/form",
            f: f,
            booth: @booth,
            submit_label: "作成する",
            back_path: dashboard_path_for(current_user) %>
<% end %>
