<h1>Cast Booths#index</h1>

<ul>
  <% @booths.each do |booth| %>
    <li>
      <% path = booth.offline? ? cast_booth_path(booth) : live_cast_booth_path(booth) %>
      <%= link_to "booth ##{booth.id} #{booth.name} (#{booth.status})", path %>

      <% if booth.current_stream_session_id.present? %>
        / current_session: <%= booth.current_stream_session_id %>
      <% end %>
    </li>
  <% end %>
</ul>

<p>
  <%= link_to "home", root_path %>
</p>
