<% content_for :title, "特定商取引法に基づく表記" %>

<div class="container py-4">
  <h1 class="h4 mb-4">特定商取引法に基づく表記</h1>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>販売事業者</th>
        <td>株式会社オフィスUTQ</td>
      </tr>
      <tr>
        <th>運営責任者</th>
        <td>坂本 浩二</td>
      </tr>
      <tr>
        <th>所在地</th>
        <td>熊本市中央区坪井６丁目３３－１３</td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td>096-335-7797</td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td>info@officeutq.co.jp</td>
      </tr>
      <tr>
        <th>販売価格</th>
        <td>
          各ポイント購入画面に表示された金額（税込）<br>
          （例：1,000pt / 1,100円 など）
        </td>
      </tr>
      <tr>
        <th>商品代金以外の必要料金</th>
        <td>
          インターネット接続に必要な通信料金等はお客様のご負担となります。
        </td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td>
          クレジットカード決済、Apple Pay、Google Pay<br>
          ※利用可能な支払方法は、決済画面に表示される方法に限ります。<br>
          ※コンビニ決済は今後対応予定です。
        </td>
      </tr>
      <tr>
        <th>支払時期</th>
        <td>
          クレジットカード会社の規約に基づきます。
        </td>
      </tr>
      <tr>
        <th>商品の提供時期</th>
        <td>
          決済完了確認後、ポイントを付与します。<br>
          ※支払方法により、決済完了の確認まで時間がかかる場合があります。
        </td>
      </tr>
      <tr>
        <th>返品・キャンセル・返金</th>
        <td>
          ポイントはデジタルコンテンツの性質上、購入後のお客様都合によるキャンセル・返金はお受けできません。<br>
          ただし、当社の責めに帰すべき事由によりポイントが正常に付与されなかった場合は、内容を確認のうえ適切に対応いたします。
        </td>
      </tr>
      <tr>
        <th>動作環境</th>
        <td>
          本サービスはインターネット接続環境および対応ブラウザが必要です。
        </td>
      </tr>
      <tr>
        <th>表現および商品に関する注意書き</th>
        <td>
          本サービス内で提供されるコンテンツや表現には個人差があり、必ずしも特定の効果や結果を保証するものではありません。
        </td>
      </tr>
    </tbody>
  </table>
</div>
