<%# locals: stream_session: %>
<% title_display = stream_session.title.presence || stream_session.booth.name %>

<div class="live-meta-main-row">
  <div class="live-meta-title"><%= title_display %></div>
</div>

<% if stream_session.description.present? %>
  <div class="live-meta-description">
    <%= simple_format(stream_session.description) %>
  </div>
<% end %>
