@use "bootstrap/scss/bootstrap" as *;

:root {
  --live-stage-h: 0px;
  --viewer-stage-h: 0px;
  --app-header-h: 0px;
  --app-footer-h: 0px;
}

@import "components/layout";
@import "components/comment_item";
@import "components/live";
@import "components/viewer";
@import "components/banuba_verification";
