<% content_for :title, "お気に入り" %>

<div class="fixed-subnav">
  <div class="container py-2">
    <%= render "favorites/nav" %>
  </div>
</div>

<div class="page-with-fixed-subnav" style="max-width: 960px;">
  <% if @favorite_users.blank? %>
    <div class="alert alert-secondary" role="alert">
      お気に入りユーザーはありません。
    </div>
  <% else %>
    <div class="row row-cols-1 row-cols-md-3 g-3">
      <% @favorite_users.each do |favorite| %>
        <% user = favorite.target_user %>

        <div class="col">
          <%= render "users/card", user: user %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
